**/__pycache__
**/*.pyc
**/.vscode

**/logs
**/single_loss
**/old_logs

**/*.pth
**/*.pt
**/*.json
**/*.pdf
**/*.csv

.pylintrc

imagenet/checkpoints
segmentation/training_LSR
segmentation/qualitatives
